<!-- addUserToProduct.ejs -->
<h1>Agregar Usuario al Producto</h1>
<form action="/products/<%= productId %>/users" method="POST">
  <!-- Campo para seleccionar un usuario -->
  <select name="userId">
    <% users.forEach(function(user) { %>
      <option value="<%= user._id %>"><%= user.name %></option>
    <% }); %>
  </select>
  <button type="submit">Agregar Usuario</button>
</form>
