<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/products">Productos</a></li>
    <li><a href="/users">Usuarios</a></li>
  </ul>
</nav>

<h1>Bienvenido a la aplicación MVC de Node.js</h1>

<main>
  <h1><%= title %></h1>
  <%= body %>
</main>

<footer>
  <img src="/img/logo.png" alt="Logo de la empresa">
</footer>

</body>
</html>

